@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* SCROLL WITH NO SCROLL BAR */
  .no-scrollbar {
    overflow: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  /* FLOATS */
  .clearfix {
    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  /* ABSOLUTE POSITION */
  .absolute-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* FLEX */
  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .padding-page-x {
    @media only screen and (min-width: 1200px) {
      padding: 0 3rem;
    }

    padding: 0 1rem;
  }

  .max-width-page {
    max-width: 87.5%;

    @media only screen and (max-width: 1500px) {
      max-width: 92.5vw;
    }

    @media only screen and (max-width: 1200px) {
      max-width: 95vw;
    }

    @media only screen and (max-width: 900px) {
      max-width: 100vw;
    }
  }

  .max-w-medium {
    max-width: 65vw;

    @media only screen and (max-width: 1000px) {
      max-width: 85vw;
    }

    @media only screen and (max-width: 600px) {
      max-width: 100vw;
    }
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2.4rem;

    @media only screen and (min-width: 1300px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @keyframes rotatation {
    to {
      transform: rotate(1turn);
    }
  }

  .spinner {
    margin: 4.8rem auto;

    width: 6.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, theme('colors.primary-yellow-dark') 94%, #0000) top/10px 10px no-repeat,
      conic-gradient(#0000 30%, theme('colors.primary-yellow-light'));
    mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
    animation: rotatation 1.5s infinite linear;
  }

  .spinner-mini {
    width: 2.4rem;
    height: 2.4rem;
    animation: rotatation 1.5s infinite linear;
  }

  .bg-about-1,
  .bg-about-2,
  .bg-about-3,
  .bg-contacts {
    background-position: center;
    background-size: cover;
  }

  .bg-about-1 {
    background-image: url('about/section-1.jpeg');
  }

  .bg-about-2 {
    background-image: url('about/section-2.jpeg');
  }

  .bg-about-3 {
    background-image: url('about/section-2.jpeg');
  }

  .bg-contacts {
    background-image: url('images-row/img-1.webp');
  }

  @keyframes rollUp {
    from {
      transform: translate(0);
      opacity: 0;
    }

    to {
      transform: translateY(-1.75rem);
      opacity: 1;
    }
  }

  .form-required {
    animation: rollUp theme('transitionDuration.primary') ease-out forwards;
  }
}

body {
  font-family: theme('fontFamily.default');
  color: theme('textColor.zinc.100');
}

#root {
  background-image: url('global/landing-bg.webp');
  background-attachment: fixed;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

html {
  @media only screen and (max-width: 900px) {
    font-size: 95%;
  }

  @media only screen and (max-width: 600px) {
    font-size: 90%;
  }
}

* :disabled {
  cursor: not-allowed;
}

/* 
::selection {
  color: inherit;
  background: theme(colors.stone.500);
}

Code for Firefox
::-moz-selection {
  color: inherit;
  background: theme(colors.stone.500);
}
*/
